
.body {
  color: #222;
}

.pure-menu {
    background: #E0EBF5;
    padding: .5em 0;
    margin-bottom: 2em;
}

.pure-menu-link {
    padding: .5em .7em;
}

h1, h2, h3, h4 {
  color: #375EAB;
}

.docity {
  margin: 0% auto;
  max-width: 980px;
}

.docity-card {
  width: 278px;
  border: 1px solid #222;
  padding: 0.5em 1em;
  margin: 0.5em auto;
}

.docity-card .description {
  height: 1.5em;
}