<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Serve web documents in git.">
    <title>Git Docity</title>
    
    <link rel="stylesheet" href="/assets/pure/1.0.0/pure-min.css">
    
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="/assets/pure/1.0.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="/assets/pure/1.0.0/grids-responsive-min.css">
    <!--<![endif]-->

    <link rel="stylesheet" href="/assets/fontawesome/5.0.2/css/fa-solid.min.css">
    <link rel="stylesheet" href="/assets/fontawesome/5.0.2/css/fontawesome.min.css">

</head>
<body>
<div class="pure-g">
    <div class="pure-u-2-5">
        <div class="doc-box"> <!-- TODO: doc-box -->
            <h3> filemaker16en </h3>
            <p> Optional description </p>
            <button class="pure-button"> <i class="fas fa-eye"></i> View </button>
            <button class="pure-button"> <i class="fas fa-wrench"></i> Configure </button>
        </div>
    </div>
</div>
</body>
</html>
