<!DOCTYPE html>
<html lang="en">

<head>
  <title>Git Docity</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="bootstrap-3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="octicons-6.0.1/build/octicons.min.css" rel="stylesheet">
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Git Docity</a>
      </div>
    </nav>

    <div class="list-group">
      <div class="list-group-item">
        <h4 class="list-group-item-heading">filemaker16en(<a href="#">Open Help.html</a>)</h4>
        <div class="input-group">
          <div class="input-group-addon">Git</div>
          <input type="text" class="form-control">
          <div class="input-group-addon"><img class="octicon" src="octicons-6.0.1/build/svg/clippy.svg"></div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>